*{
    padding: 0px;
    margin: 0px;
}

/* start nav */
.nav_logo{
    width: 100px;
    height: 60px;
    margin-left: 100px;
    margin-top: 10px;
}
.nav_item{
    float: right;
}
.nav_item li{
    display: inline-block;
    margin-top: 50px;
    margin-right: 30px;
}
.nav_item li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.nav_item li a:hover{
    color: rgb(4, 163, 168);
}
.cart_nav_item{
    margin-right: 30px;
}
.cart_noti{
    position: relative;
    top: -20px;
    right: 40px;
    background-color: rgb(4, 163, 168);
    padding: 5px;
    border-radius: 50%;
    color: white;
}
/* end nav */

/* start bunner */
.carousel_img{
    width: 100%;
}
.carousel_text{
    position: absolute;
    top: 300px;
    left: 150px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.carousel_text h2{
    margin-bottom: 15px;
}
.shop_now{
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 5px;
}
.shop_now:hover{
    cursor: pointer;
}
/* end bunner */

/* start featured section */
.highlight {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; 
}

#icon_line{
    margin-top: 30px;
    margin-left: 80px;
}
.order_icon{
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 15px;
    width: 20%;
    border-radius: 5px;
    margin-right: 10px;
}
.icon{
    float: left;
    margin-right: 10px;
}
.icon_text{
    color: rgba(0, 0, 0, 0.8);
}
/*end featured section */

/* start promotion list */
.promotion_title{
    margin-left: 100px;
    margin-top: 50px;
    padding-bottom: 20px;
}
.divided{
    width: 100px;
    border: 2px solid rgb(168, 144, 4);
}
.promotion{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 100px;
    grid-column-gap: 30px;
}
.promotion_item{
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
}
.promotion_item p{
    text-align: center;
    padding-bottom: 10px;
}
.promotion_image{
    width: 100%;
}
.promotion_price{
    position: absolute;
    top: 2%;
    right: 2%;
}
.dis_price{
    display: block;
    color: black;
}
.normal_price{
    color: black;
    text-decoration: line-through;
}
/* end promotion list */

/* start new arrival */
.new_arrival{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 100px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.new_arrival_item{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 20px 10px ;
    position: relative;
}
.new_arrival_image{
    width: 100%;
}
.new_arrival_text{
    bottom: 10px;
    display: inline-block;
}
.heart_list{
    float: right;
    color: black;

}
.new_arrival_icon{
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
}
.new_arrival_icon a{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(155, 154, 154);
    color: black;
}
.new_arrival_icon a:hover{
    background-color: black;
    color: white;
}
.new_arrival_item:hover .new_arrival_icon{
    opacity: 1;
}
.new_arrival_image:hover{
    opacity: 0.5;
}
 /* end new arrival */
